#nav-bar {
  position: fixed;
  top: 0;
  width: 100vw;

  height: 80px;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0em 2em;
}

#nav-bar .logo {
  float: left;
  width: 80px;
  height: 80px;
}

#nav-bar .header {
  float: left;
  padding-left: 10px;
  font-size: 2em;
  line-height: 80px
}

#nav-bar .compose {
    float: right;
    height: 60px;
    width: 120px;
    background-color: #E7FDFF;
    border-radius: 4px;
    margin: 10px;
    color: #000;
    font-weight: bold;
    text-align: center;
    line-height: 60px;
    border: 1px solid #000;
}