.new-tweet {
  display:none;
  background-color: #eee;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.new-tweet h2 {
  border-bottom: 2px solid;
  margin-top: 5px;
  margin-bottom: 20px;
}

.new-tweet textarea {
  padding: 5px ;
  width: 100%;
}

.errorMessage {
  color: red;
  margin-left: 10px;
}

.counter {
  float: right;
}
